{{#display}}
<img src="" alt="" />
<h3></h3>
<p>

</p>
<ul>
  {{#books}}
  <li></li>
  {{/books}}
</ul>
<a href="/authors/{{id}}/edit">Edit</a>
<a href="/authors/{{id}}/delete">Remove</a>
{{/display}}
