{{#display}}
<img src="" alt="" />
<h3></h3>
<p>
  Author(s):
</p>
<p>
  Genre:
</p>
<a href="/books/{{id}}/edit">Edit</a>
<a href="/books/{{id}}/delete">Remove</a>
<p>
  {{descriptions}}
</p>
{{/display}}

<form class="" action="index.html" method="post">
  <input type="submit" name="name" value="">Delete this Book</input>
</form>
