<form class="" action="index.html" method="post">
<label for="title">Title</label>
<input type="text" name="title">
<label for="genre">Title</label>
<input type="text" name="genre">
<label for="description">Title</label>
<input type="text" name="description">
<label for="authors">Authors</label>
<ul>
  <li value = ""><input type="button" name="name" value=""></a></li>
</ul>
<select class="" name="">
  {{#authors}}
  <option value="option">option</option>
  {{/authors}}
</select>
</form>
