<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="" alt="" />
    <h1>Galvanize Reads</h1>
    {{#if authors}}
    <section>
      <img src={{}} alt="" />
      <nav>

      </nav>
    </section>
    {{/if}}
    {{#if authors}}
    <section>
      <img src={{}} alt="" />
      <nav>

      </nav>
    </section>
    {{/if}}
    {{{body}}}
  </body>
</html>
