<form class="" action="index.html" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName">
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName">
  <label for="biography">Biography</label>
  <input type="text" name="biography">
  <label for="authors">Authors</label>
  <label for="">Books</label>
  <ul>
    <li value = ""><input type="button" name="name" value=""><a href="#"></a></li>
  </ul>
  <select class="" name="">
    {{#authors}}
    <option value="option">option</option>
    {{/authors}}
  </select>
  <input type="button" name="name" value="">Add This Book</input>
  <input type="submit" name="name" value="">Add This Author</input>
  </form>
