<form class="" action="index.html" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName">
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName">
  <label for="biography">Biography</label>
  <input type="text" name="biography">
  <label for="authors">Authors</label>
  <label for="">Books</label>
  <ul>
    <li value = ""><a href="#">Remove</a></li>
  </ul>
  <select class="" name="">
    {{#each books}}
    <option value={{id}}>{{title}}</option>
    {{/each}}
  </select>
  <input type="button" name="name" value="">Add This Book</input>
  <input type="submit" name="name" value="">Add This Author</input>
  </form>
